@import url('https://fonts.googleapis.com/css?family=Rubik');

body {
  font-family: 'Rubik', sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-size: 16px !important;
}

.fontdark{
  color: #544027 !important;
}

.fontlight{
  color: #FCF4EC !important;
}

.container {
  max-width: 100% !important;
}

.item.title{
  font-size: 16px !important;
}

.item.small{
  font-size: 10px !important;
}

.bodyrest2.login{
  background-color: #544027 !important;
  padding-top: 5em !important;
  padding-bottom: 5em !important;
  padding-left: 12em !important;
  padding-right: 12em !important;
}

.bodyrest2.login.mobile{
  background-color: #544027 !important;
  padding-top: 2em !important;
  padding-bottom: 2em !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
}

.bodyrest1.login{
  background-color: #FCF4EC !important;
  padding-top: 5em !important;
  padding-bottom: 5em !important;
  padding-left: 12em !important;
  padding-right: 12em !important;
}

.bodyrest1.login.mobile{
  background-color: #FCF4EC !important;
  padding-top: 2em !important;
  padding-bottom: 2em !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
}

.bodymain{
  background-color: #FFFFFF !important;
  padding-top: 2em !important;
  padding-bottom: 2em !important;
  padding-left: 12em !important;
  padding-right: 12em !important;
}

.bodymain.mobile{
  background-color: #FFFFFF !important;
  padding-top: 2em !important;
  padding-bottom: 2em !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
}

.bodymain.login{
  background: url('/background2.jpg') !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  background-color: #FFFFFF !important;
  padding-top: 10em !important;
  padding-bottom: 10em !important;
  padding-left: 12em !important;
  padding-right: 12em !important;
}

.bodymain.login.mobile{
  background: url('/background2.jpg') !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  background-color: #FFFFFF !important;
  padding-top: 2em !important;
  padding-bottom: 2em !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
}

.text.main{
  color: #FCF4EC !important;
  font-size: 2.5em !important;
  font-weight: 900 !important;
}

.text.main.mobile{
  color: #FCF4EC !important;
  font-size: 2em !important;
  font-weight: 900 !important;
}

.navfooter.login {
  padding-top: 2em !important;
  padding-bottom: 2em !important;
  padding-left: 12em !important;
  padding-right: 12em !important;
  background: #070107;
  border-bottom: 0px solid #FFFFFF;
}

.navfooter.login.mobile {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
  background: #070107;
  border-bottom: 0px solid #FFFFFF;
}

.footheader {
  color: #FCF4EC !important;
  padding-right: 0em !important;
}

.navheader {
  padding-top: 2em !important;
  padding-bottom: 2em !important;
  padding-left: 12em !important;
  padding-right: 12em !important;
  background: #070107;
  border-bottom: 0px solid #FFFFFF;
}

.navheader a {
  color: #FCF4EC;
  text-decoration: unset;
  margin-left: 16px;
  margin-right: 16px;
}

.navheader a:hover {
  color: #C8A058;
}

.navheader.mobile {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
  padding-left: 1em !important;
  padding-right: 1em !important;
  background: #070107;
  border-bottom: 0px solid #FFFFFF;
}

.navheader.mobile a {
  color: #FCF4EC;
  text-decoration: unset;
  margin-left: 16px;
  margin-right: 16px;
}

.navheader.mobile a:hover {
  color: #C8A058;
}

.error {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #c75061;
  opacity: 1;
  pointer-events: none;
}

.ui.modal:not(.compact) {
  width: calc(100% - 50px) !important;
  margin-left: 25px !important;
  height: calc(100% - 50px) !important;
  margin-top: 25px !important;
}

.fullwidth{
  width: 100% !important;
  height: 56px !important;
  font-size: 16px !important;
  position: relative !important;
  border-radius: 4px !important;
  background-color: #FFFFFF;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  padding-top: 7px !important;
}

.field {
  width: 100% !important;
  height: 56px !important;
  font-size: 16px !important;
  position: relative !important;
  border-radius: 4px !important;
  background-color: #C8A058;
  transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out;
  margin-top: 4px !important;
  margin-bottom: 4px !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

.field:hover {
  background-color: #544027;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.05);
}

.field.active {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
}

.field.active input {
  padding: 24px 16px 8px 16px;
}

.field.active input + label {
  top: 4px;
  opacity: 1;
  color: #070107;
}

.field.locked {
  pointer-events: none;
}

.field input {
  width: 100%;
  height: 56px;
  position: relative;
  padding: 0px 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  color: #070107;
  outline: none;
  box-shadow: 0px 4px 16px 0px transparent;
  transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out,
    0.1s padding ease-in-out;
  -webkit-appearance: none;
}

.field input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.field input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.field input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.field input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.field input + label {
  position: absolute;
  top: 24px;
  left: 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  opacity: 0;
  pointer-events: none;
  transition: 0.1s all ease-in-out;
}



